* {
    /* default utk semua element */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    /* ini variable, ak liat yutube ktnya lbh bagus gini */
    /* dri pada setiap element 1-1 */
    --color10 : hsl(31, 80%, 10%);
    --color30 : hsl(31, 80%, 30%);
    --color90 : hsl(31, 57%, 60%);
    --color100 : hsl(0, 49%, 82%);
    --color120 : white;
    --accent: hsl(31, 80%, 70%);
    --ff: "Noto Sans JP", serif;
    --ff2: "Fira Sans", serif;
    --ff3: "Helvetica", sans-serif;
    --p: 1rem/1,5em var(--ff);
    --h1: 600 3rem/1.2em var(--ff3);
    --h2: 600 2rem/1.2em var(--ff2);
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing5: 80px;
    --spacing5: 160px;
}

body {
    min-height: 2000px;
}

h1{
    /* background awak biar keliatan aja */
    font: var(--h2);
}

.nav {
    display: flex;                          /*biar gampang diatur*/
    justify-content: space-between;         /*untuk jarak antara element sama kiri kanan*/
    align-items: center;                    /*supaya semua sejajar*/
    padding: 1.8rem 5%;                     /*rem itu bilangan dikali 16px, % itu jarak spasi kanan kiri*/
    background-color: rgba(0, 0, 0, 0.8); /*rgba, a itu untuk transparency*/
    border-bottom: 1px solid var(--color120);  /*line tipis dibawah navigation bar*/
    position: fixed;                        /*biar pas di scroll navbarnya ga kemana"*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.nav .title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color120);
}

.navbar a {
    color: var(--putih);
    display: inline-block; /*biar pas di margin tetep in line*/
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar a:hover {
    color: var(--color90);
}

.navbar a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem;
}

.navbarlogo {
    color: var(--color120);
}

.navbarlogo a:hover {
    color: var(--color90);
}

/* p{
    font: var(--p);
    background: var(--color30);
}

h3{
    background-color: var(--color100);
    text-align: center;
    button{
        background: var(--color120);
        border-style: solid;
        border-radius: 5px;
        border-color: rgb(131, 131, 131);
        color: rgb(0, 0, 0);
        margin: 0;
        padding: 0% 5%;
    }
}

footer{
    font: var(--p);
    background: var(--color30);
    button{
        background: none;
        border: none;
        color: rgb(255, 255, 255)
    }
}

section {
    background: var(--color30);
} */